.container-list-left,
.container-list-right,
.container-buttons {
    display: inline-block;
    vertical-align: top;
}
.container-list-left select,
.container-list-right select {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border: 1px #CCCCCC solid;
}
.container-list-left select option,
.container-list-right select option {
    padding: 10px 5px;
}
.container-list-left select option:hover,
.container-list-right select option:hover {
    background-color: #CCCCCC;
    cursor: pointer;
}
.container-buttons {
    margin: 0 10px;
}
.btn {
    display: block;
    padding: 10px;
    background-color: #CCCCCC;
    margin-bottom: 10px;
    text-align: center;
    border: none;
    width: 50px;
    cursor: pointer;
}
